{% extends "kaizen_web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}

          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
      <div class="container">
        <div class="row">
            <div class="col-xl-8">
                {% for profile in profiles %}
                  {% if profile.email == user.email %}
                    <div class="card">
                      <div class="card-body pb-0">
                          <div class="row align-items-center">
                              <div class="col-md-3">
                                  <div class="text-center border-end">
                                      <img src="{{ profile.thumbnail }}" class="img-fluid avatar-xxl rounded-circle" alt="">
                                      <h4 class="text-primary font-size-20 mt-3 mb-2">{{ profile.name }}</h4>
                                      <h5 class="text-muted font-size-13 mb-0"></h5>
                                  </div>
                              </div><!-- end col -->
                              
                          </div><!-- end row -->
                      </div><!-- end card body -->
                  </div><!-- end card -->
                  {% endif %}
                {% endfor %}
                
            </div><!-- end col -->
        
          
        </div>
        </div>

    </div>
{% endblock content %}
